<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Alturas Church Burger Sales Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="dashboard.js"></script>
	<link rel="stylesheet" href="./assets/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./assets/css/ready.css">
	<link rel="stylesheet" href="./assets/css/demo.css">
	<style>
		@keyframes rellenar {
			to {
				stroke-dasharray: var(--porcentaje) 100;
			}
		}
		.porcentaje {
			position: relative;
			width: 90px;
			height: 90px;
		}
		.porcentaje span {
			position: absolute;
			top: 0%;
			left: 0%;
			bottom: 5%;
			right: 0%;
			display: flex;
			align-items: center;
			justify-content: center;
			font: 22px/1em Verdana;
			color: #8d8d8d;
		}
		circle {
			fill: none;
			stroke-width: 8;
			transform: rotate(-90deg);
			transform-origin: 50%;
			stroke-dasharray: 100 100;
			stroke: #d6d8d6;
		}
		circle:nth-child(2) {
			stroke: #59d05d;
			stroke-dasharray: 0 100;
			animation: rellenar 2s linear forwards;
		}
	</style>
</head>
<body>
	<div ng-controller="TeamListController as baseList" class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					<img src="./assets/img/logo.png" width="120px"/>
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
							
				</div>
			</nav>
		</div>
		<div class="sidebar mt-3 bg-dark">
				<div class="scrollbar-inner sidebar-wrapper">
					<ul class="nav">
						<li class="nav-item active">
							<a href="index.html">
								<i class="la la-dashboard"></i>
								<p class="text-light">Dashboard</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title text-muted">
						<div class="row">
							<div class="col-md-2">
								<img src="./assets/img/burger.png" width="60px"/>
							</div>
							<div class="col-md-10 my-auto text-dark">
								Dashboard Ventas Hamburguesas
							</div>
						</div>
					</h4>
					<div class="row pt-3">
						<div class="col-md-4">
							<div class="card card-stats">
								<div class="card-body" ng-class="[{'card-primary': baseList.totalSales.general < baseList.generalTarget}, {'card-success': baseList.totalSales.general >= baseList.generalTarget}]">
									<div class="row">
										<div class="col-8 d-flex align-items-center">
											<div class="numbers">
												<p class="card-category">VENTAS OBJETIVO</p>
												<h4 class="card-title" style="font-size: 150%;">{{baseList.generalTarget}}</h4>
											</div>
										</div>
										<div class="col-4">
											<div class="icon-big text-center">
												<i ng-if="baseList.totalSales.general < baseList.generalTarget" class="la la-check-circle"></i>
												<img ng-if="baseList.totalSales.general >= baseList.generalTarget" src="./assets/img/exito.png" width="85" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card card-stats">
								<div class="card-body card-light">
									<div class="row">
										<div class="col-8 d-flex align-items-center">
											<div class="numbers">
												<p class="card-category text-dark">VENTAS CERRADAS</p>
												<h4 class="card-title" style="font-size: 150%;">{{baseList.totalSales.general}}</h4>					
											</div>
										</div>
										<div class="col-4 text-left">
											<div class="porcentaje">
												<svg width="90" height="90">
													<circle r="40" cx="50%" cy="50%" pathlength="100"/>
													<circle r="40" cx="50%" cy="50%" pathlength="100"/>
												</svg>
												<span class="progress-value"></span>
											</div>
											<!--END-->
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<hr>
										</div>
									</div>
									<div class="row">
										<div class="col-4">
											<div class="card border-danger p-2" style="width: 5rem;">
												<img class="card-img-top" src="./assets/img/res.png" alt="Card image cap">
												<div class="card-body">
													<p class="card-text text-center font-weight-bold">
														<span class="badge badge-danger">{{baseList.totalSales.beef}}</span>
													</p>
												</div>
											</div>										
										</div>
										<div class="col-6">
											<div class="card border-danger p-2 " style="width: 5rem;">
												<img class="card-img-top" src="./assets/img/pollo.png" alt="Card image cap">
												<div class="card-body">
													<p class="card-text text-center font-weight-bold">
														<span class="badge badge-danger">{{baseList.totalSales.chicken}}</span>
													</p>
												</div>
											</div>										
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row row-card-no-pd py-0">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header p-2">
									<h4 class="card-title">Ventas por Equipo</h4>
								</div>
								<div class="card-body">
									<table class="table table-responsive table-sm table-hover table-head-bg-primary">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Grupo</th>
												<th scope="col">Ventas Objetivo</th>
												<th scope="col">Ventas Cerradas</th>
												<th scope="col">% Ventas Grupal</th>
												<th scope="col">% Ventas General</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="(key, team) in baseList.teams" ng-class="[{'table-danger': team.completedSales.general <= 0}, {'font-weight-bold': team.completedSales.general <= 0}]">
												<td>{{key + 1}}</td>
												<td>
													<span ng-if="team.completedSales.general >= team.targetSales" class="la la-trophy text-warning" style="font-size: 170%;"></span>
													<span ng-if="team.completedSales.general > 0 && team.completedSales.general < team.targetSales" class="la la-smile-o text-success" style="font-size: 125%;"></span>
													<span ng-if="team.completedSales.general <= 0" class="la la-frown-o text-danger" style="font-size: 125%;"></span>
													{{team.name}}
												</td>
												<td class="text-center">{{team.targetSales}}</td>
												<td class="text-center">{{team.completedSales.general}}</td>
												<td class="text-center">{{team.grupalSalesPercentage}}%</td>
												<td class="text-center">{{team.generalSalesPercentage}}%</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
	
</body>
<script src="./assets/js/core/jquery.3.2.1.min.js"></script>
<script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="./assets/js/core/popper.min.js"></script>
<script src="./assets/js/core/bootstrap.min.js"></script>
<script src="./assets/js/plugin/chartist/chartist.min.js"></script>
<script src="./assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="./assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="./assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="./assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="./assets/js/ready.min.js"></script>
<script src="./assets/js/demo.js"></script>
</html>